<div class="col-lg-4 col-md-6 col-xs-12 mb-3">
  <%= link_to post_path(post) do %>
    <div class="card" style="height: 200px">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h2>
          <h6 class="card-subtitle mb-2 text-muted"><%= "posted by #{post.user.nickname} - #{time_ago_in_words(post.created_at)} ago" %></h6>
          <%= post.content %>
        </div>
    </div>
  <% end %>
</div>
