<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.theconversation.com/files/364126/original/file-20201019-19-sxhq4h.jpg?ixlib=rb-1.1.0&rect=0%2C447%2C4514%2C2253&q=45&auto=format&w=1356&h=668&fit=crop);">
  <div class="container">
    <h1>Share news articles</h1>
    <p>Share news articles with <strong>like-minded</strong> and <strong>different</strong> people to cross-check your sources!</p>
    <%= link_to "See posts", posts_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="container py-3">
  <h2 class="text-center">Recent articles:</h2>
  <div class="card-group row" style="list-style: none;">
    <% @posts.each do |post| %>
      <%= render partial: "post", locals: { post: post } %>
    <% end %>
  </div>
</div>
