.card {
  a {
    text-decoration: none;
    color: black;
    .btn {
      color: white;
    }
  }
}

a {

  text-decoration: none;
  .card {
    text-decoration: none;
    color: black;
    .btn {
      color: white;
    }
  }
}
